.about-container {
<<<<<<< HEAD
    min-height: calc(70vh - 25px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    box-sizing: border-box;
}

.about-content {
    text-align: left;
    max-width: 600px;
}

.about-content p{
    font-size: 1rem;
    line-height: 1.6;
=======
  min-height: calc(70vh - 25px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  box-sizing: border-box;
}

.about-content {
  text-align: left;
  max-width: 800px;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.team-member {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  margin-bottom: 0.5rem;
  color: #1f4da8;
}

.team-member h4 {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  color: #3e4a4d;
}

.team-member ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.team-member li {
  margin-bottom: 0.5rem;
>>>>>>> 8d27519 (Final project)
}