.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--header-bg-color);
}

.left-group {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  border: var(--button-border);
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.nav-links a, 
.auth-buttons .login-button, 
.auth-buttons .register-button, 
.auth-buttons .logout-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: var(--button-border);
  padding: 0.4rem 1.25rem;
  border-radius: 8px;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  transition: var(--global-btn-transition);
  white-space: nowrap;
}

.nav-links a:hover,
.auth-buttons .login-button:hover,
.auth-buttons .register-button:hover,
.auth-buttons .logout-button:hover {
  background-color: var(--button-hover-bg);
}

.display-username {
  color: var(--text-color);
  align-self: center;
}

.auth-buttons .login-button,
.auth-buttons .register-button {
  line-height: 1.2;
  height: 28px;
  margin: 0;
}
