.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: calc(100vh-80px);
}

.big-brand {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin: 5rem 5rem 0 5rem;
    line-height: 1.4;
    max-width: 600px;
}

.big-text {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin-top: 1rem;
    line-height: 1.4;
    max-width: 600px;
}

@media (max-width: 600px){
    .home-container{
        align-items: center;
        text-align: center;
        height: auto;
        heigh: auto;
    }
    .big-text{
        margin-top: 0.5rem;
    }
}
