.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  transition: 0.3s ease;
}

.quiz-card {
<<<<<<< HEAD
  font-size: inherit;
  background-color: var(--card-bg);
=======
  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0;
  font-size: inherit;
  background-color: var(--bg-color);
>>>>>>> 8d27519 (Final project)
  color: var(--text-color);
  border-radius: 24px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--global-btn-transition);
<<<<<<< HEAD
=======
  max-width: 600px;
  margin: 1rem auto;
>>>>>>> 8d27519 (Final project)
}
.quiz-card:hover {
  transform: translateY(-2px);
}

.quiz-card button {
  font-size: inherit;
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: var(--global-btn-transition);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.quiz-card button:hover {
  background-color: var(--button-hover-bg);
}

.edit-button {
  border: var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: var(--global-btn-transition);
}

.edit-button:hover {
  background-color: var(--button-hover-bg);
}
  
<<<<<<< HEAD
.quiz-card button:last-child {
  background-color: crimson;
  border: none;
}

.quiz-card button:last-child:hover {
  background-color: darkred;
  border: none;
=======
.quiz-card .delete-button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-card .delete-button:hover {
  background-color: darkred;
}

.create-quiz-button {
  border: var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: var(--global-btn-transition);
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-size: var(--button-text);
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color var(--transition-speed) var(--transition-curve);
}

.create-quiz-button {
  border: var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  margin: 2rem auto 0 auto;
  display: block;
  width: 60%;
  text-align: center;
  transition: var(--global-btn-transition);
}

.create-quiz-button:hover {
  background-color: var(--button-hover-bg);
}

.manage-quizzes-container {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 16px;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
>>>>>>> 8d27519 (Final project)
}