.user-list {
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 16px;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.user-list-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}
  
.user-list-content.show {
    max-height: 500px;
    opacity: 1;
}

.user-toggle-button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: var(--button-border);
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    margin: 0.5rem auto;
    display: block;
    width: 60%;
    text-align: center;
    transition: var(--global-btn-transition);
}

.user-toggle-button:hover {
    background-color: var(--button-hover-bg);
}

.user-entry {
    background-color: var(--bg-color);
    color: var(--modal-text);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 0.25rem 0;
    transition: var(--global-transition);
}

.return-home-button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: var(--button-border);
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    margin: 2rem auto 0 auto;
    display: block;
    width: 60%;
    text-align: center;
    transition: var(--global-btn-transition);
}

.return-home-button:hover {
    background-color: var(--button-hover-bg);
}
  