.floating-link {
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
  }

  .floating-btn {
    padding: 0.5rem 1rem;
    font-size: 16px;
    background-color: #1c5ea1;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(11, 38, 209, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    text-align: center;
}

.floating-btn:hover {
    background-color: #23272b;
    transition: background-color 0.2s ease;
}