.light {
    /* general theme */
    --bg-color: #f9fbfd; /* Slightly brighter than white */
    --text-color: #111111;
    --global-transition: background-color 1.5s ease, color 0.3s ease;
    --global-btn-transition: background-color 0.3s ease, color 0.3s ease;
    --header-bg-color: #26a8ff;
    
    /* footer settings */
    --footer-bg: var(--header-bg-color);
    --footer-text: var(--text-color);
    
    /* accessibility window */
    --modal-bg: #d8e6f0; /* Slightly brighter modal */
    --modal-text: #111;
    --modal-theme-btn: #343a40;
    --modal-theme-btn-hover: #00b7e6; /* Slightly toned blue */

    /* quiz manager cards */
    --card-bg: #d8e6f0; /* Brighter card background */

    /* card buttons */
    --button-border: 2px solid #00b7e6;
    --button-bg: #e6f6fd;
    --button-hover-bg: #00b7e6;
    --button-text: black;

    /* house keeping */
    --username-text-color: #333;
    --start-quiz-btn: #282c34;
}

.dark {
    /* general theme */
    --bg-color: #121212;
    --text-color: #f1f1f1;
    --global-transition: background-color 1.5s ease, color 0.3s ease;
    --global-btn-transition: 0.3s ease;
    --header-bg-color: #282c34;
    
    /*footer settings*/
    --footer-bg: var(--header-bg-color);
    --footer-text: var(--text-color);
    
    /* accessibility window */
    --modal-bg: #282c34;
    --modal-text: #f1f1f1;
    --modal-theme-btn: #c1efff7f;
    --modal-theme-btn-hover: #00d8ff;

    /* quiz manager cards */
    --card-bg:#282c34;

    /* card buttons */
    --button-border: 2px solid #00d8ff;
    --button-bg: #transparent;
    --button-hover-bg: #00d8ff;
    --button-text: #fff;

    /* house keeping */
    --username-text-color: #eee;
    --start-quiz-btn: #00d8ff;
}

body,
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color var(--transition), color var(--transition);
}

.main-content {
    flex: 1;
    background-color: var(--bg-color);
    transition: var(--global-transition);
}